<div class="nav-search">
  <%= form_tag spree.products_path, method: :get do %>
    <%= search_field_tag :keywords,
                        params[:keywords],
                        placeholder: Spree.t(:search),
                        autofocus: true,
                        class: " border-0 w-100 py-0 px-2 rounded shadow-none"
    %>
    <div class="position-absolute search-position">
      <label class="m-0">
        <input type="submit" class="d-none">
        <%= icon(name: 'search',
                classes: 'd-none d-md-inline',
                width: 27,
                height: 27) %>
      </label>
    </div>
  <% end %>
</div>
